<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>

  <link href="./static/main.3f6952e4.css" rel="stylesheet">


</head>

<style>
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Professional Services</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
            <li><a href="./testimonials.html" title="">05 : Testimonials</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Experience</h3>
                  <p>It is important for a Marketing Specialist to have some level of experience. Most employers prefer
                    individuals with at least 2 years of experience in marketing (digital and traditional) or sales. In
                    my case, after finishing the Marketing University in Germany, I started to work as a marketer
                    specialist.
                    With over 3 years of work experience, and the proud owner of "Smart Digital Marketing Services"
                    Company,
                    I am very confident to say that every client of mine will benefit of professional services!</p>
                  <br><br>

                  <h3>My motto in life...</h3>
                  <h5>Always deliver the best!</h5>
                  <p>
                    Getting work done on time is key for an employee to increase productivity. But if the quality of
                    work is not up to the highest standard, it will reflect negatively on your productivity. For
                    instance, even when you deliver your product/service to the client at the promised deadline, if they
                    are not satisfied with it, you may have to make/do it again, or worse, the client may reject your
                    work. In both cases, the time and effort you put into the work become futile and your productivity
                    takes a hit. So, doing quality work is one of the most important factors in increasing productivity.
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/jacob.jpeg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>




  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
  <script type="./static/text/javascript" src="main.70a66962.js"></script>
</body>

</html>