<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Professional Services</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
            <li><a href="./testimonials.html" title="">05 : Testimonials</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="assets/images/work001-01.jpg" class="img-responsive" alt="">
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">001 : Fringilla sit amet</h1>
            </div>
            <!-- <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies, nisl nunc pulvinar ligula, id sodales
              arcu sapien in nisi. Quisque libero enim, mattis non augue posuere, venenatis dapibus urna.</p> -->

            <blockquote>
              <br><br>
              <p>Some of you are thinking:<br>"What are the core concepts of marketing?"<br>The answer is simple:
                <br>THE 4
                BIG P's OF MARKETING
              </p><br>
              <!-- <small class="pull-right">Irina Martin</small> -->
            </blockquote>
          </div>
        </div>



        <div class="col-md-8 col-md-offset-2 section-container-spacer">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <img src="./static/assets/images/4PS.png" class="img-responsive" alt="">
              <p>What is the marketing mix (4 P's of marketing)?
                The marketing mix, also known as the four P's of marketing, refers to the four key elements of a
                marketing strategy: product, price, place and promotion. By paying attention to the following four
                components of the marketing mix, a business can maximize its chances of a product being recognized and
                bought by customers:

                Product. The item or service being sold must satisfy a consumer's need or desire.
                Price. An item should be sold at the right price for consumer expectations, neither too low nor too
                high.
                Promotion. The public needs to be informed about the product and its features to understand how it fills
                their needs or desires.
                Place. The location where the product can be purchased is important for optimizing sales.</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <img src="./static/assets/images/4Ps-model.jpg" class="img-responsive" alt="">
              <p>Understanding the 4 Ps of Marketing
                Neil Borden, an advertising professor at Harvard, popularized the idea of the marketing mix—and the
                concepts that would later be known primarily as the four Ps—in the 1950s. His 1964 article "The Concept
                of the Marketing Mix" demonstrated the ways that companies could use advertising tactics to engage their
                consumers.
                1

                Decades later, the concepts that Borden popularized are still being used by companies to advertise their
                goods and services.

                Borden's ideas were developed and refined over a number of years by other key players in the industry.
                E. Jerome McCarthy, a marketing professor at Michigan State University, refined the concepts in Borden's
                article and named them the "four Ps" of marketing. McCarthy co-wrote the book Basic Marketing: A
                Managerial Approach, further popularizing the idea.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <img src="./static/assets/images/diagram.png" class="img-responsive" alt="">
        </div>

      </div>
    </div>
  </div>




  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>