<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>Title page</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./index.html" title="">01 : Home</a></li>
                        <li><a href="./works.html" title="">02 : Professional Services</a></li>
                        <li><a href="./about.html" title="">03 : About me</a></li>
                        <li><a href="./contact.html" title="">04 : Contact</a></li>
                        <li><a href="./testimonials.html" title="">05 : Testimonials</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="assets/images/work001-01.jpg" class="img-responsive" alt="">
                    <div class="card-container">
                        <div class="text-center">

                        </div>
                        <blockquote>
                            <br><br><br>
                            <p>Are You Detail-Oriented?<br><br>Well it turns out that attention to detail is one of
                                those job skills that translates directly into a long list of favorable behaviors on the
                                job.
                                <br><b>Sometimes it's all about paying close attention to details!</b>
                            </p><br>
                            <!-- <small class="pull-right">Irina Martin</small> -->
                        </blockquote>
                    </div>
                </div>



                <div class="col-md-8 col-md-offset-2 section-container-spacer">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <img src="./static/assets/images/detail.png" class="img-responsive" alt="">
                            <p>Detail-oriented people tend to:

                                Create flawless deliverables that require little to no editing.
                                Complete work while following company standards and protocols closely.
                                Review and check the accuracy of documents and reports.
                                Set up procedures to maintain high quality standards.
                                Provide complete attention to every detail.


                                While those behaviors would be great for any job, some professions demand a higher
                                attention to detail than others. Such professions include medical staff, architects,
                                editors, pilots, programmers, and quality assurance specialists. Here is a complete list
                                of jobs that demand an extreme attention to detail. </p>
                            <br>

                            Many mistakes and misunderstandings arise from poor communication. Whenever you are
                            receiving a new task, make an effort to ask questions on topics that need clarification.
                            Good communication skills mean listening carefully when coworkers or clients are talkig!
                            It sounds obvious, but proofreading can really save your butt. Before you hit “submit”
                            on an email, document, or presentation, take the time to comb through it for small
                            errors or mistakes.
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <img src="./static/assets/images/detail22.jpeg" class="img-responsive" alt="">
                            <p>Fortunately, how detail-oriented you are isn’t decided at birth. Just like other hard and
                                soft skills, the more you work on them, the more you’ll improve. Here’s a few ways you
                                can become more detail-oriented:


                                <br>

                                <b>1. Get organized with a task management system</b>


                                Being able to use a task management system isn’t just a skill for project managers .
                                Anyone can benefit from their assistance in managing tasks, tracking time, and
                                collaborating with your team. Some popular task management applications include Asana,
                                Basecamp, Monday.com, Trello, and Wrike.


                                <br>
                                <b>2. Write everything down</b>


                                Once you’re using a task management system, now it’s time to collect every task and
                                detail in one place. Small details add up over time to the overall quality of a task, so
                                it’s important to jot down details whenever they arise, even if they seem not worth
                                noting at the time. Don’t leave it up to your brain to keep track of everything.


                                <br>
                                <b>3. Track your time
                                </b>

                                Being crunched for time is bound to cause details to slip through the cracks. Practice
                                your time management skills so that you can give enough attention to each and every
                                task.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <img src="./static/assets/images/atwork.jpg" class="img-responsive" alt="">
                </div>

            </div>
        </div>
    </div>




    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navActivePage();
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>